.grid-main{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 900px;
}

.grid-favorites{
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: darkgrey;
}

.grid-header{
    grid-column: 2/5;
    grid-row: 1/2;
    background-color: lightgray;
}

.grid-extras{
    grid-column: 2/5;
    grid-row: 2/3;
    background-color: gray;
}

.grid-hourly{
    grid-column: 2/5;
    grid-row: 3/4;
    background-color: lightgray;
}

.grid-forecast{
    grid-column: 5/6;
    grid-row: 1/4;
    background-color: darkgray;

}

.bg-grey{
    background-color: lightgray;
    min-height: 70px;
}

.height-extras{
    height: 150px;
}

.bg-white{
    background-color: white;
}

.height-hourly{
    height: 300px;
}